// colors Scheme
$white: #fff;
$aquamarine: #7fffff;
$bright-red: #dc3545;
$black: #000;
$isabelline: #ececec;
$light-gray: #d1d1d1;
$quick-silver: #A6A5A8; 

// Typography
$raleway: 'Raleway', sans-serif;

// Screen size
$breakpoint-desktop: 992px;
$breakpoint-tablet: 768px;